@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Inter_Black;
  src: url(../public/fonts/Inter/static/Inter-Black.ttf);
}

@font-face {
  font-family: Inter_Bold;
  src: url(../public/fonts/Inter/static/Inter-Bold.ttf);
}

@font-face {
  font-family: Inter_ExtraBold;
  src: url(../public/fonts/Inter/static/Inter-ExtraBold.ttf);
}

@font-face {
  font-family: Inter;
  src: url(../public/fonts/Inter/static/Inter-Regular.ttf);
}

@font-face {
  font-family: Inter_Light;
  src: url(../public/fonts/Inter/static/Inter-Light.ttf);
}

@font-face {
  font-family: Inter_Medium;
  src: url(../public/fonts/Inter/static/Inter-Medium.ttf);
}

@font-face {
  font-family: Graphik;
  src: url(../public/fonts/Graphik/GraphikRegular.otf);
}

@font-face {
  font-family: Graphik_Medium;
  src: url(../public/fonts/Graphik/GraphikMedium.otf);
}



@layer base {
  html {
    scrollbar-width: thin;
  }

  html::-webkit-scrollbar {
    width: 10px;
    background-color: #ccc;
  }

  html::-webkit-scrollbar-thumb {
    background-color: #B3B3B3;
    border-radius: 1000px;
  }
}

@layer components {
  :root {
    --shadow-black: 0 0 4px rgba(0,0,0,.2);
    --shadow-dispa8chred: 0 0 4px #D1193E;
    --trans-duration: 700ms;
  }
  .shadow-base {
    box-shadow: var(--shadow-black);
  }
  .shadow-dispa8chred {
    box-shadow: var(--shadow-dispa8chred);
  }
  .shadow-input {
    @apply shadow-base focus:shadow-dispa8chred
  }

  .fade {
    transition: opacity var(--trans-duration) ease;
  }

  .column {
    @apply flex flex-col
  }
}