@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Inter_Black;
  src: url(../public/fonts/Inter/static/Inter-Black.ttf);
}

@font-face {
  font-family: Inter_Bold;
  src: url(../public/fonts/Inter/static/Inter-Bold.ttf);
}

@font-face {
  font-family: Inter_ExtraBold;
  src: url(../public/fonts/Inter/static/Inter-ExtraBold.ttf);
}

@font-face {
  font-family: Inter;
  src: url(../public/fonts/Inter/static/Inter-Regular.ttf);
}

@font-face {
  font-family: Inter_Light;
  src: url(../public/fonts/Inter/static/Inter-Light.ttf);
}

@font-face {
  font-family: Inter_Medium;
  src: url(../public/fonts/Inter/static/Inter-Medium.ttf);
}

@font-face {
  font-family: Graphik;
  src: url(../public/fonts/Graphik/GraphikRegular.otf);
}

@font-face {
  font-family: Graphik_Medium;
  src: url(../public/fonts/Graphik/GraphikMedium.otf);
}

@layer base {
  html {
    scrollbar-width: thin;
  }

  html::-webkit-scrollbar {
    width: 10px;
    background-color: #ccc;
  }

  html::-webkit-scrollbar-thumb {
    background-color: #b3b3b3;
    border-radius: 1000px;
  }
}

@layer components {
  :root {
    --shadow-black: 0 0 4px rgba(0, 0, 0, 0.2);
    --shadow-dispa8chred: 0 0 4px #d1193e;
    --trans-duration: 700ms;

    scroll-behavior: smooth;
  }

  /* shape divider */
  .custom-shape-divider-top-1705896470 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-top-1705896470 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 276px;
  }

  .custom-shape-divider-top-1705896470 .shape-fill {
    fill: #ffffff;
  }

  .bg-hero {
    background: linear-gradient(95.06deg, rgba(50, 5, 14, .9) 31.56%, rgb(50, 5, 14) 138.09%);
  }

  .shadow-base {
    box-shadow: var(--shadow-black);
  }

  .shadow-dispa8chred {
    box-shadow: var(--shadow-dispa8chred);
  }

  .shadow-input {
    @apply shadow-base focus:shadow-dispa8chred;
  }

  .fade {
    transition: opacity var(--trans-duration) ease;
  }

  .overlay {
    @apply after:w-full after:h-full after:bg-[rgb(0,0,0,.1)] after:absolute after:top-0 after:left-0 after:z-10;
  }

  .underlay {
    @apply after:h-full after:w-full after:absolute after:left-0 after:top-0 after:z-10;
  }

  .no-scroll {
    scrollbar-width: none;
  }

  .no-scroll::-webkit-scrollbar {
    width: 0px;
  }

  .column {
    @apply flex flex-col;
  }

  .fit {
    @apply w-fit h-fit
  }

  .percent {
   width : 90%;
  }

  .full {
    @apply w-full h-full;
  }

  .dropdown-menu {
    overflow: hidden;
    padding: 0;
    height: 0;
    opacity: 0;
    transition: height 0ms 400ms, opacity 400ms 0ms;
  }

  .dropdown-menu.shown {
    height: fit-content;
    opacity: 1;
    transition: height 0ms 0ms, opacity 400ms 0ms;
    @apply p-4;
  }

  .menu {
    @apply hidden;
    opacity: 0;
    transition: opacity 400ms 20ms;
  }

  .menu.closed {
    @apply block;
    opacity: 1;
    transition: opacity 400ms 20ms;
  }
}
