@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Font faces */

  @font-face {
    font-family: Inter_Black;
    src: url(../public/fonts/Inter/static/Inter-Black.ttf);
  }

  @font-face {
    font-family: Inter_Bold;
    src: url(../public/fonts/Inter/static/Inter-Bold.ttf);
  }

  @font-face {
    font-family: Inter_ExtraBold;
    src: url(../public/fonts/Inter/static/Inter-ExtraBold.ttf);
  }

  @font-face {
    font-family: Inter;
    src: url(../public/fonts/Inter/static/Inter-Regular.ttf);
  }

  @font-face {
    font-family: Inter_Light;
    src: url(../public/fonts/Inter/static/Inter-Light.ttf);
  }

  @font-face {
    font-family: Inter_Medium;
    src: url(../public/fonts/Inter/static/Inter-Medium.ttf);
  }

  @font-face {
    font-family: Graphik;
    src: url(../public/fonts/Graphik/GraphikRegular.otf);
  }

  @font-face {
    font-family: Graphik_Medium;
    src: url(../public/fonts/Graphik/GraphikMedium.otf);
  }

  html {
    scrollbar-width: thin;
    scroll-behavior: smooth;
  }

  html::-webkit-scrollbar {
    width: 10px;
    background-color: #ccc;
  }

  html::-webkit-scrollbar-thumb {
    background-color: #b3b3b3;
    border-radius: 1000px;
  }
}

@layer components {
  :root {
    --shadow-black: 0 0 4px rgba(0, 0, 0, 0.2);
    --shadow-dispa8chred: 0 0 4px #d1193e;
    --trans-duration: 700ms;
    --base-animation-duration: 600ms;
    --base-animation-delay: 200ms;
  }

  /* shape divider */
  .custom-shape-divider-top-1705896470 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-top-1705896470 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 276px;
  }

  .custom-shape-divider-top-1705896470 .shape-fill {
    fill: #ffffff;
  }

  .bg-image {
    background-image: url("./Dashboard/Rectangle\ 47.png");
    background-size: cover;
    background-position: center;
  }
  .bg-image1 {
    background-image: url("./Dashboard/Rectangle\ 48.png");
    background-size: cover;
    background-position: center;
  }
  .bg-image2 {
    background-image: url("./Dashboard/Rectangle\ 48\ \(1\).png");
    background-size: cover;
    background-position: center;
  }
  .bg-image3 {
    background-image: url("./Dashboard/Rectangle\ 48\ \(2\).png");
    background-size: cover;
    background-position: center;
  }
  .bg-image4 {
    background-image: url("./Dashboard/Rectangle\ 48\ \(3\).png");
    background-size: cover;
    background-position: center;
  }
  .btn-order {
    background-color: #d1193e;
  }

  .bg-hero {
    background: linear-gradient(
      95.06deg,
      rgba(50, 5, 14, 0.9) 31.56%,
      rgb(50, 5, 14) 138.09%
    );
  }

  .shadow-base {
    box-shadow: var(--shadow-black);
  }

  .shadow-dispa8chred {
    box-shadow: var(--shadow-dispa8chred);
  }

  .shadow-input {
    @apply shadow-base focus:shadow-dispa8chred;
  }

  .fade {
    transition: opacity var(--trans-duration) ease;
  }

  .overlay {
    @apply after:w-full after:h-full after:bg-[rgb(0,0,0,.1)] after:absolute after:top-0 after:left-0 after:z-10;
  }

  .underlay {
    @apply after:h-full after:w-full after:absolute after:left-0 after:top-0 after:z-10;
  }

  .no-scroll {
    scrollbar-width: none;
  }

  .no-scroll::-webkit-scrollbar {
    width: 0px;
  }

  .column {
    @apply flex flex-col;
  }

  .fit {
    @apply w-fit h-fit;
  }

  .percent {
    width: 90%;
  }

  .full {
    @apply w-full h-full;
  }

  .dropdown-menu {
    overflow: hidden;
    padding: 0;
    height: 0;
    opacity: 0;
    transition: height 0ms 400ms, opacity 400ms 0ms;
  }

  .dropdown-menu.shown {
    height: fit-content;
    opacity: 1;
    transition: height 0ms 0ms, opacity 400ms 0ms;
    @apply p-4;
  }

  .menu {
    @apply hidden;
    opacity: 0;
    transition: opacity 400ms 20ms;
  }

  .menu.closed {
    @apply block;
    opacity: 1;
    transition: opacity 400ms 20ms;
  }

    /* This is for any links around, used especially in the footer for the landing page */
    .link-underline {
      @apply after:block after:w-full after:h-0.5 after:bg-white/60
    }
  
    
    #animatedDiv {
      opacity: 0;
      transform: translateY(50px);
      transition: opacity 0.5s ease, transform 0.5s ease;
    }
  
    #animatedDiv.active {
      opacity: 1;
      transform: translateY(0);
    }

  /* Animations */

  /* Animations that play on load */
  .slide-left {
    animation: slide-left-opacity var(--base-animation-duration)
      var(--base-animation-delay) ease;
  }

  .slide-right {
    animation: slide-right-opacity var(--base-animation-duration) ease;
  }

  .bg-hero-image {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/images/hero-background.png");
  }

  /* This should be applied like lg:load-hero-image to animate on large screen devices */
  .load-hero-image {
    animation: load-hero-bg-image var(--base-animation-duration)
      var(--base-animation-delay) ease;
    animation-fill-mode: forwards;
  }

  @keyframes load-hero-bg-image {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slide-left-opacity {
    from {
      opacity: 0.1;
      transform: translateX(40%);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slide-right-opacity {
    from {
      opacity: 0.1;
      transform: translateX(-40%);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /* Animations on scroll */

  .shadow-pop-bl {
    animation: shadow-pop-bl var(--base-animation-duration) 100ms
      cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
  }

  @keyframes shadow-pop-bl {
    to {
      @apply translate-x-2 -translate-y-2;
    }
  }
}
